################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCwebApi/bin/Debug/netcoreapp3.1
/GCwebApi/obj
/.vs/GC.WebApi/v16
/TestResults
